html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-image: url('/images/world-img.jpg');
  background-size: cover;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrapInput {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}

.wrapOutput {
  max-width: 600px;
  margin: 0 auto;
  padding: 32px;
}

.countryName {
  font-size: 18px;
}

.countryNativeName {
  font-size: 18px;
  color: royalblue;
}

.separator {
  color: rgb(137, 13, 172);
}
.description {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  color: rgb(233, 226, 198);
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ebe7e7;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  line-height: normal;
  color: inherit;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
  cursor: pointer;
}

input::placeholder {
  color: rgb(233, 226, 198);
}
.titleCountry {
  font-size: 36px;
  color: #2e2c2c;
  text-align: center;
}

.item {
  font-size: 18px;
  color: #2e2c2c;
}

.languagesList {
  list-style: square;
}

.flex {
  display: flex;
}
.wrapFlag {
  display: flex;
  margin-left: 50px;
}
